body {
	font-size: 16px;
	// background-color: #E9E9DD
	// font-family: 'Bebas Neue', cursive;
	// font-family: 'Libre Franklin', sans-serif;
	font-family: 'Titillium Web', sans-serif;
}

// Palette
.bg-maroon {
	background-color: #42150A;
	color: #E9E9DD;
}

.bg-orange {
	background-color: #D5790D;
	color: #E9E9DD;
}

.bg-light-o {
	background-color: #E9E9DD;
	color: #42150A;
}

.txt-maroon {
	color: #42150A;
}

.txt-orange {
	color: #D5790D;
}

.txt-light-o {
	color: #E9E9DD;
}

// End of Palette

.yw-section {
	padding: 0 10%;
}

.topbar {
	padding: 1.5% 0;
}

#myNavBar {
	transition: box-shadow 0.5s ease
}

.myStickyNav {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.ywLogo-sm {
	transition: height 0.5s ease;
	height: 50%;
}

.ywLogo {
	transition: height 0.5s ease;
	height: 100%;
}

.searchBar {
	display: inline-block;
}

.searchBarInput {
	border-radius: 15px
}

.socialLinks {
	display: inline-block;
	font-size: 25px;
}

.socialLinks a {
	color: #d5790d;
}

.navbar-nav {
	border-top: 1px solid #d5790d;
	text-transform: uppercase;
}

.nav-link {
	letter-spacing: 2px;
	color: black;
	font-weight: 900;
}

.active,
.nav-link:hover {
	text-decoration: underline;
	color: #42150A !important
}

// 
.yw-sectional-pd {
	padding: 5% 10%;
}

main {
	padding-bottom: 1%;
}

.pull-items-right {
	display: flex;
	align-items: end;
	justify-content: end;
}

.pull-items-center {
	display: flex;
	align-items: center;
	justify-content: center;
}